$main: #ffe100;
$dull: #f4c015;
$sub: #fff1a0;
$text_yellow: #8a690c;
$background: #fffef7;

$white: #ffffff;
$black: #000000;
$gray: #797979;
$gray_light: #d9d9d9;
$header_black: #191919;
$text_black: #0f1419;
$text_white: #e0e0e0;

$header-height: 70px;
