article > section {
  margin-inline: 20%;
  &:not(.no-line)::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background-color: $black;
    margin: 150px auto;
  }
}

p,
a,
ul,
li {
  font-weight: 300;
}

h2 {
  font-size: 28px;
  width: max-content;
  margin: 0px auto 80px auto;
  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 6px;
    background-color: $main;
    margin-inline: auto;
    transform: translate(0, 30px);
  }
}
h3 {
  font-size: 24px;
  width: max-content;
  padding-right: 10px;
  margin-top: 60px;
  background: linear-gradient(to top, transparent 0%, $sub 0%, $sub 40%, transparent 40%);
  &::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: $main;
    transform: translate(35px, 0);
  }
}
p {
  font-size: 17px;
  margin-left: 10px;
  line-height: 1.55em;
  &.note {
    padding-left: 1.5em;
    font-size: 14px;
    text-indent: -1.2em;
    margin-block: 5px;
    &::before {
      content: "※";
      color: $dark;
      margin-right: 0.2em;
    }
  }
}

b {
  background: linear-gradient(transparent 55%, rgba($sub, 0.8) 0%);
  font-weight: 500;
}
ul {
  list-style: none;
  margin-left: 10px;
  padding-left: 2.5em;
}
li {
  line-height: 1.5em;
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid $dark;
    box-sizing: border-box;
    transform: translate(-10px, calc(0.75em - 3px));
  }
}
